<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Layout 01</title>
    <style>
        nav.navigation {
            position: absolute;
            top: 0;
            left: 0;
            background-color: cornflowerblue;
            margin: 0;
            padding: 0.25em;        }

        h1 {
            background-color: yellow;
        }


    </style>
</head>

<body>

</body>
<h1>The Evolution of the Bicycle</h1>

<nav>In 1817 Baron Davis invented a walking machine tht would help him get...</p>
<p>In 1817 Baron Davis invented a walking machine tht would help him get...</p>
<p>In 1817 Baron Davis invented a walking machine tht would help him get...</p>
<p>In 1817 Baron Davis invented a walking machine tht would help him get...</p>
<p>In 1817 Baron Davis invented a walking machine tht would help him get...</p>
<p>In 1817 Baron Davis invented a walking machine tht would help him get...</p>

</html>